.content-login {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form-login {
  width: 500px;
  max-width: 100%;
  display: flex;
  background: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 38px 10px;
}

.form {
  width: 80%;
}

.input-login {
  width: 95%;
  padding: 14px 10px;
  margin: 9px 0px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  outline: none;
}

.input-login::placeholder {
  color: #28992e;
}

.input-login:focus {
  border: 1px solid #28992e;
}

.form-title {
  border-bottom: 2px solid #28992e;
  padding-bottom: 6px;
  color: #838383;
}

.form-submit {
  background-color: #28992e;
  border: none;
  color: white;
  padding: 14px 0px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}