.menu {
  position: relative;
  grid-row: 1 / span 2;
}

.content-menu {
  background-color:white;
  height: 93vh;
  position: fixed;
  width: 17%;
  border-right: 1px solid #e0e0e0;
  color: #28992e;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hide-menu {
  display: none;
}


@media( max-width: 1300px){
  .content-menu {
    width: 20%;
  }
}

@media( max-width: 900px){
  .content-menu {
    width: 28%;
  }
}

@media( max-width: 700px){
  .content-menu {
    width: 40%;
  }
  .hide-menu {
    display: none;
  }
}





